html {
	font-size: 100%;
	box-sizing: border-box;
}
*,
*::before,
*after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Spartan", sans-serif;
	font-size: 1.125rem;
	font-weight: 500;
	color: $darkGrey;
	line-height: 1.3;
	overflow-x: hidden;
}
a,
a:visited,
a:hover {
	text-decoration: none;
	text-transform: uppercase;
}
// FLEXBOX
.flex {
	display: flex;
	&-jc-sb {
		justify-content: space-between;
	}
	&-jc-c {
		justify-content: center;
	}
	&-ai-c {
		align-items: center;
	}
}

// BUTTONS
button,
.button {
	padding: 0.875rem 2.875rem;
	border-radius: 30px;
	font-size: $font-sm;
	background: linear-gradient(to right, $darkGrey, $black);
	font-weight: 600;
	border: 1px solid $white;
}

// VISIBILITY
.hide-for-mobile {
	@include breakpoint-down(medium) {
		@include breakpoint-down(medium) {
			display: none;
		}
	}
}
.hide-for-desktop {
	@include breakpoint-up(large) {
		display: none;
	}
}
