.header {
	position: absolute;
	// background: $veryDarkGrey;
	width: 100%;
	z-index: 10000;
	// HAMBURGER OPEN STYLES
	&.open {
		.overlay {
			display: block;
		}

		.header-toggle {
			> span:first-child {
				transform: rotate(45deg);
			}
			> span:nth-child(2) {
				opacity: 0;
			}
			> span:last-child {
				transform: rotate(-45deg);
			}
		}
	}

	.overlay {
		opacity: 0;
		position: fixed;
		top: 0px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient($black, transparent);
	}

	nav {
		position: relative;
		@include breakpoint-up(large) {
			justify-content: flex-start;
		}
	}
	&-logo {
		margin-right: 3.75rem;
		img {
			width: 3.875rem;
			height: 1.0625rem;
		}
	}

	&-toggle {
		// mobile menu toggle
		span {
			display: block;
			background: $white;
			width: 27px;
			height: 2px;
			transition: all 0.3s ease-in-out;
			transform-origin: 3px 1px;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	&-menu {
		position: absolute;
		width: calc(100% - 3rem);
		left: 50%;
		transform: translateX(-50%);
		margin-top: 1.5rem;
		background: $darkGrey;
		padding: 1.625rem 0px;
		border-radius: 4px;
		a {
			display: block;
			padding: 0.625rem;
			font-size: $font-sm;
			text-align: center;
			color: $white;
		}
	}

	&-links {
		a {
			font-size: $font-sm;
			color: $white;
			position: relative;
			transition: color 0.3s ease-in-out;
			&:not(:last-child) {
				margin-right: 32px;
			}
			&::before {
				content: "";
				display: block;
				position: absolute;
				height: 5px;
				background: $white;
				left: 0;
				right: 0;
				bottom: -30px;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
			&:hover {
				color: $white;
				&::before {
					opacity: 1;
				}
			}
		}
	}
}
