// COLORS
$darkGrey: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$veryDarkGrey: hsl(0, 0%, 27%);

// FONT SIZES
// FONT WEIGHTS 500 600 700
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.875rem; //30px
$font-xl: 2.1875rem; //35px
